*{margin: 0; padding: 0;}

/* div{border: 1px solid black;} */


.mainCampoMinado{ width: 328px;height: 412px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)
    ;background: grey;display: grid;grid-template-rows: 20% 1fr;}

.scoreBoardSystem{background-color: grey;display: grid;grid-template-columns: 72px 1fr 1fr;margin-left: 40px;}

.insideCapsulaFromScore{display: flex;align-items: center;justify-content: center;}


.bombsCheck{background: grey;}
.clockCheck{background: grey;}





.realGamePass{background: rgb(189, 189, 189);}